body {
    background: #F9F7FE;
    font-family: "Roboto", sans-serif;
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
}